<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles00.css' %}">
    <title>Login Page</title>
</head>

<body>
    <div class="background-image"></div>
    <div class="login-container">
        <div class="login-form">
            <h2>Login</h2>
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">Username or Email:</label>
                    <input type="text" name="username" required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div class="form-options">
                    <a href="/forgot_password">Forgot Password?</a>
                    <button type="submit">Login</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>