<!-- profiles.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles3.css' %}">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Online service market</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'vendors/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
    <title>Worker Profile</title>
</head>

<body>
    <h1>Choose an employee</h1>
    {% for employee in employees %}
    <div class="profile-container">
        <div class="profile-header">

            <img src="{% static 'images/faces' %}{{ employee.employeeID }}.jpg"
                onerror="this.src='{% static 'images/faces/face1.jpg' %}' " alt="employee Photo">
            <h1>{{ employee.Employee_name }}</h1>
            <div class="rating">Rating: {{ employee.Rating }}</div>
            <div class="location">Location: {{ employee.Location }}</div>
        </div>
        <div class="profile-details">
            <h3>employee Details</h3>
            <ul>
                <li><strong>Phone Number:</strong> {{ employee.Phone_number }}</li>
                <li><strong>Address:</strong> {{ employee.Address }}</li>
                <li><strong>Age:</strong> {{ employee.Age }}</li>
                <li><strong>Pin Code:</strong> {{ employee.Pin_code }}</li>
                <li><strong>Charge:</strong> {{ employee.Charge }}</li>
                <li><strong>Date of Birth:</strong> {{ employee.Date_of_birth }}</li>
            </ul>
            <h4>Services Offered</h4>
            <ul>
                <li><strong>Category:</strong> {{ employee.CategoryID.CategoryName }}</li>
                <li><strong>Service:</strong> {{ employee.ServiceID.ServiceName }}</li>
            </ul>
            <a href="{% url 'appointment' service_id=service_id employee_id=employee.EmployeeID %}">
                <button type="button" class="btn btn-success btn-fw">Select and Continue</button>
            </a>
        </div>
    </div>
    {% endfor %}
</body>

</html>